@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* 
html {
    scroll-snap-type: y mandatory;
}

.scroll-snap {
    scroll-snap-align: start;
} */


.background-main {
    /* background: linear-gradient(to bottom right, #ffffff, #fffdd0); */


    /* background:
        linear-gradient(to bottom right, #F8F8F8, #eeddc3),
        radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.4) 15px, transparent 30px),
        radial-gradient(circle at 70% 60%, rgba(245, 234, 206, 0.4) 15px, transparent 30px),
        radial-gradient(circle at 40% 80%, rgba(240, 223, 180, 0.3) 30px, transparent 40px);
    background-size: cover;
    background-blend-mode: overlay; */
    background: white;

    /* background: #F8F8F8; */

    /* background: linear-gradient(135deg, #F7F5F2, #E5E2DD, #D9D7D2); */
    /* background: linear-gradient(135deg, #FFF9F5, #E5E2DD, #D3CCC7); */
    /* background: linear-gradient(135deg, #F0F4F8, #E5E2DD, #C8CDD1); */


    /* background-image: url(./assets/textureBG.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* min-height: 300vh; */
    overflow: visible;
}


.body-no-scroll {
    overflow: hidden;
}

textarea:focus,
input:focus {
    outline: none;
}


.trial {
    background-image: url(./assets/trial1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.productBg {
    background-image: url(./assets/productBg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bg-1 {
    background-image: url(./assets/heroBgLanding.jpeg);
    background-size: cover;
    background-position: center;
}

.serviceBg {
    background-image: url(./assets/service_background.webp);
    background-position: center;
    background-size: cover;
}

.getInTouchBg {
    background-image: url(./assets/getInTouch.png);
    background-position: center;
    background-size: cover;
}

.heroBg {
    /* background-image: url(./assets/heroBgLanding.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing1 {
    background-image: url(./assets/landingBg/landingBg.jpeg);
    background-size: cover;
    background-position: center;
}

.landing2 {
    background-image: url(./assets/landingBg/landingBg1.jpeg);
    background-size: cover;
    background-position: center;
}

.landing3 {
    background-image: url(./assets/landingBg/landingBg3.jpg);
    background-size: cover;
    background-position: center;
}

.landing4 {
    background-image: url(./assets/landingBg/landingBg4.jpg);
    background-size: cover;
    background-position: center;
}

.landing5 {
    background-image: url(./assets/landingBg/landingBg5.jpg);
    background-size: cover;
    background-position: center;
}


:root {
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
}

.pizza-svg path {
    transform: translateY(253px) scaleY(-1)scale(.1);

}

.pizza-svg {
    stroke: rgb(0, 0, 0);
    stroke-width: 40;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.svgAirEng {
    stroke-width: 0;
    fill: #ffffff;
}


.textParallax {
    background-image: url(./assets/parallax2.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

:root {
    --swiper-theme-color: #6CAED1;
}

/* 
.swiper_container {
    background: rgb(74, 45, 45);
    height: 500px;
    padding: 2rem 0;
    position: relative;
}

.swiper-slide {
    width: 400px;
    height: 450px;
    background: #000;
    position: relative;
} */

/* 

@media (max-width: 500px) {
    .swiper_container {
        height: 47rem;
    }

    .swiper-slide {
        width: 28rem !important;
        height: 36rem !important;
    }

    .swiper-slide img {
        width: 28rem !important;
        height: 36rem !important;
    }
}

.swiper-slide img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.slider-controler .slider-arrow {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}

.slider-controler .slider-arrow::after {
    content: '';
}

.swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
} */





/* Custom pagination bullets */
.custom-pagination .custom-bullet {
    display: inline-block;
    width: 30px;
    /* Width of the rectangle */
    height: 4px;
    /* Height of the rectangle */
    background-color: #a31e1e;
    /* Default color */
    margin: 0 4px;
    border-radius: 2px;
    /* Slightly rounded corners */
    transition: background-color 0.3s;
}

/* Active pagination bullet */
.custom-pagination .custom-bullet-active {
    background-color: #4A4A4A;
    /* Active color */
}




.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.poppins-semiLight {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.raleway-medium {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lato {
    font-family: "Lato", sans-serif;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.whiteTech {
    background-image: url(./assets/whiteVectorBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
}



.bg-mask {
    background-image: url(./assets/techBg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover
}



.shadowImg {
    filter: drop-shadow(1px 1px 5px black);
}